/Major Project- Power House(JAVA)/newPowerDesk/build/
/Major Project- Power House(JAVA)/newPowerDesk/dist/
/Major Project- Power House(JAVA)/newPowerDesk/nbproject/private/
/Minor Project-MusicStore (JavaScript)/MusicStore/build/
/Minor Project-MusicStore (JavaScript)/MusicStore/nbproject/private/
/Online Recruitment  - JSP/build/
/Online Recruitment  - JSP/dist/
/Online Recruitment  - JSP/nbproject/private/